/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 40px 50px;
}

.logo {
  width: 300px;
}

.navList {
  display: flex;
}

.navList > a > li {
  list-style: none;
  margin-right: 30px;
  font-weight: bold;
}

.navList > a > li:hover {
  color: rgb(49, 49, 49);
}

.menuIcon {
  display: none;
}

/* Cover */

.cover {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.coverHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.coverHeader_heading {
  font-size: 50px;
  font-weight: bold;
}

.coverHeader_btn {
  padding: 10px 50px 10px 50px;
  font-size: 20px;
  border: 3px solid #161616;
  text-align: center;
  background-color: #ebebeb;
}

.workContainer {
  padding: 50px;
  text-align: center;
}

.services {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.service {
  width: 250px;
  margin: 50px;
}

.workContainer_head_1 {
  font-size: 20px;
  color: #a5a5a5;
  text-transform: uppercase;
}

.workContainer_head_2 {
  font-weight: 300;
  color: #161616;
  font-size: 48px;
}

.service_icon {
  height: 40px !important;
  width: 40px !important;
}

.service_head {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #27292b;
}

.service_desc {
  min-height: 70px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #6c7787;
  font-weight: 300;
}

.service_link {
  display: flex;
  align-items: center;
}

.service_link_icon {
  background: black;
  margin-left: 15px;
  width: 30px;
  padding: 8px;
  border-radius: 50px;
  color: white !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer_numbers {
  padding: 0px 100px;
}

.footer_numbers_table {
  display: flex;
}

.footer_numbers_table > div {
  border: 1px solid #161616;
  padding: 20px 40px;
  text-align: center;
  margin-top: 10px;
}

.footer_numbers_table > div > h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 3px;
}

.footer_numbers_table > div > p {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
}

.footer_heading {
  width: 500px;
}

.footer_heading_h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 120px;
  letter-spacing: normal;
  font-style: normal;
  color: #110f10;
  padding: 0 100px;
}

.form {
  width: 40%;
  padding: 50px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 7px #eee;
  z-index: 1;
}

.form__data__div {
  display: flex;
  flex-direction: column;
}

.form__info {
  display: flex;
  flex-direction: column;
}

.form__info > input,
.form__options,
.form__info_name > input {
  height: 50px;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin: 10px;
}

.select_service {
  margin-right: 10px;
}

.contact_desc > textarea,
.selectCountry {
  width: 100%;
  margin: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.contact_desc > textarea {
  height: 140px;
  padding: 15px 10px;
}

.formBtn {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 16px 16px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

@media only screen and (max-width: 480px) {
  .menuIcon {
    display: block;
  }
  .menu {
    color: #110f10;
  }
  .logo {
    width: 200px;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navList {
    display: none;
  }
  .navMenuList {
    padding: 10px;
  }
  .navMenuList > a {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .cover {
    flex-direction: column;
    padding: 20px;
  }
  .coverHeader_heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .coverHeader_btn {
    margin-bottom: 20px;
  }
  .workContainer_head_2 {
    font-size: 30px;
  }
  .services {
    flex-direction: column;
    padding: 0px;
  }
  .service {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    flex-direction: column;
    padding: 0px;
  }
  .footer_numbers {
    padding: 0px;
  }
  .footer_numbers > h1 {
    font-size: 25px;
    text-align: center;
  }
  .footer_numbers_table {
    justify-content: center;
  }
  .footer_numbers_table > div {
    padding: 20px;
  }
  .footer_numbers_table > div > h2 {
    font-size: 20px;
  }
  .footer_numbers_table > div > p {
    font-size: 18px;
  }
  .form {
    width: 100%;
  }
  .footer_heading_h1 {
    font-size: 50px;
    line-height: 50px;
    padding: 10px;
    width: 100vw;
    display: none;
  }
}
