.wwd_services {
  text-align: center;
  color: #161616;
}
.wwd_services > h1 {
  font-weight: 300;
}
.wwd_services > h2 {
  font-size: 45px;
  padding: 50px;
}
.wwd_services_comp {
  display: flex;
  padding: 50px;
}
.wwd_services_comp_i {
  margin-left: 50px;
}
.wwd_services_comp_img {
  width: 50%;
  padding: 20px;
}
.services_img {
  width: 450px;
  padding: 20px;
}
.wwd_services_comp_i_head > h1 {
  font-size: 40px;
}
.wwd_services_comp_i_head > p {
  font-size: 25px;
}
.service_btn > a {
  border: 2px solid black;
  padding: 10px 20px;
  font-weight: 700;
}
